<blockquote>

  <p>
    <% if @question.blank? %>
      😶
    <% else %>
      <%= @question.capitalize %>
    <% end %>
  </p>
  <cite>You</cite>
</blockquote>

<blockquote class='coach'>
  <p><%= @answer %></p>
  <cite>Your coach</cite>
</blockquote>

<%= link_to "Ask another question", ask_path %>
